body {
  font-family: "Mozilla Headline";
  background: #444444;
  color: white;
}

h2,
h3 {
  margin-top: 1.5rem;
  font-weight: bold;
  font-size: 36px;
}
p {
  font-size: 20px;
}
li {
  font-size: 20px;
}

#apex-img {
  margin-top: 25px;
}

#valo-img {
  margin-top: 25px;
  width: 85%;
}

/* #techstack img {
  width: 15%;
  align-items: center;
  margin: 40px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
} */

/* #techstack:hover img {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.15);
} */

.cat-track {
  display: flex;
  position: absolute;
  gap: 50px;
}
.cat-track img {
  height: 110px;
}

.topPart {
  position: relative;
  overflow: hidden;
  height: 120px;
  background: linear-gradient(
    120deg,
    #ffffffc8 0%,
    #ffffff1a 50%,
    #ffffffc8 100%
  );
  background-size: 200% 200%;
  animation: sunrays 10s linear infinite;
}

@keyframes sunrays {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.display-5 {
  text-align: center;
  position: relative;
  border: 2px solid #fbff00;
  padding: 5px;
  border-radius: 50px;
  margin-left: 300px;
  width: 200px;
}

.line {
  position: absolute;
  background-color: #efef00;
  height: 2px;
  width: 20%;
  margin-top: 8%;
}
.line2 {
  background-color: #efef00;
  height: 2px;
  width: 20%;
}

.backgroundeffect {
  background: linear-gradient(90deg, #8d8d8d, #161b2200);
  width: 25%;
  padding: 10px;
  border-left: 5px solid #efef00;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.container2 {
  border-top: 5px solid #efef00;
  border-radius: 10px;
  background: linear-gradient(180deg, #22272f, #161b2200);
  padding: 2%;
}

.navbar {
  background: #c9c62a;
  transition: background 0.3s;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 2px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 2px;
}

.navbar.scrolled {
  background: #535212;
}

.nav-link {
  position: relative;
  color: white !important;
  margin-left: 1rem;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #323232 !important;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: #050505;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.hero-section {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
}

.hero-content {
  display: grid;
  grid-template-columns: 2fr 1fr; /* two equal columns */
  gap: 4rem; /* space between text and image */
  align-items: center; /* vertically align items */
}

.hero-content > div:first-child {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* spacing between h1, h2, and p */
}

.hero-section img {
  max-width: 300px;
}

.section {
  padding: 3rem 0;
}

.grid-gallery {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(2, 2fr);
  align-items: center;
}

.grid-gallery img {
  width: 80%;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.grid-artwork-gallery {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(3, 2fr);
  align-items: center;
}

.grid-artwork-gallery img {
  width: 50%;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.logo {
  width: 20% !important;
  margin-top: 10px !important;
  border-radius: 4px !important;
  margin-left: 190px;
}

.grid-gallery img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.15);
}

.grid-artwork-gallery img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.15);
}

.grid-icon-gallery {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(4, 2fr);
  align-items: center;
}

.grid-icon-gallery img {
  width: 50%;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.grid-icon-gallery img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.15);
}

.bg-green {
  background: #21262d;
}

footer {
  background: #161b22;
  padding: 2rem;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.social-icons i {
  font-size: 1.5rem;
  margin-left: 1rem;
  cursor: pointer;
  transition: transform 0.3s, color 0.3s;
}

.social-icons i:hover {
  transform: scale(1.2);
  color: #58a6ff;
}

.italic {
  font-style: italic;
}

html {
  scroll-behavior: smooth;
}

.fade-up {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease-out;
}

.fade-up.show {
  opacity: 1;
  transform: translateY(0);
}
